body
{
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font-family: Arial;
  font-size: 12px;
  background-color: #F5F5F5;
  /*
  background-image: url('/~rtamp1/csc423/gp/gplaypattern.jpg');
    background-repeat: repeat;
    background-attachment: fixed; */
}

#img_m{

display: block;
margin-right: 50px;

}

h1{
  margin: 60px 0px 10px 0px;
  text-align:center;
  font-size: 48px
  }

h2{

margin: -20px 0px 30px 0px;
  text-align:center;
  font-size: 28px
}

h3{

margin: -20px 0px 30px 0px;
  text-align:center;
  font-size: 24px
}



#nav
{
  background-color: #374357;
}

#nav_wrapper
{
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

#nav ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

#nav li
{
  display: inline-block;
 font-size:24px;
  padding:0px 20px 0px 30px;
}

#nav li li
{
  display: inline-block;
  font-size:18px;
 padding:0px 30px 0px 30px;
}


#nav ul li:hover
{
  background-color: #374357;
}

#nav ul li a:hover
{
  color: white;
}

#nav ul li a,visited
{
  color: #ccc;
  display: block;
  padding: 15px;
  text-decoration: none;
}

#nav ul li a :hover
{
  color: #ccc;
  text-decoration: none;
}

#nav ul li:hover ul
{
  display: block;
}

#nav ul ul
{
  display: none;
  position: absolute;
  border: 5px solid #374357;
  border-top: 0;
  margin-left: -5px;

}

#nav ul ul li
{
  display: block;
  background-color: #374357;
}

#nav ul ul li a,visited
{
  color: #ccc;
}

#nav ul ul li a:hover
{
  color: white;
}


.button{
  text-align: center;
  padding: 40px 0 40px 0;
}

#button{
  //margin-left: 500px;
  //padding: 40px 0 40px 0;


  }
#tiny_button{
background-color:#374357;
border: none;
	color:white;
	border-radius: 5px;
	padding: 8px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  cursor: pointer; cursor: hand;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

	font-size: 16px;
  }
/*
#button:hover{

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }



/*
#callToAction h3
{
  color: #444444;
}*/

/* =================== Day's Index Code ======================= */

#vendor_store{
  height: 50%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*background-color: blue;*/
  position: absolute;
  z-index: -1;
}
#vendor{
  height: 90%;
  width: 40%;
  position: absolute;
  top:5%;
  left: 5%;
  bottom: 5%;

  box-shadow: 5px 5px 5px #bdbdbd/*#b6aeae*/;
}
#vendor:hover{
	box-shadow: 15px 15px 10px #bdbdbd;
}
#vendorTitle{
	position: absolute;
	background-color: #516382;
	width: 100%;
	height: 40%;
}

#vendorTable{
	margin-top: 27%;
	position: absolute;
	width: 100%;
	height: 60%;
}

#store{
  height: 90%;
  width: 40%;
  position: absolute;
  top: 5%;
  bottom: 5%;
  right: 5%;

  box-shadow: 5px 5px 5px #bdbdbd;
}
#store:hover{
	box-shadow: 15px 15px 10px #bdbdbd;
}
#storeTitle{
	position: absolute;
	background-color: #516382;
	width: 100%;
	height: 40%;
}
#storeTable{
	margin-top: 35%;
	position: absolute;
	width: 100%;
	height: 60%;
}
#orders_customers{
  height: 50%;
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 25%;
  /*background-color: purple;*/
  position: absolute;
}
#orders{
  height: 90%;
  width: 40%;
  position: absolute;
  left: 5%;
  bottom: 5%;
  top: 5%;

  box-shadow: 5px 5px 5px #bdbdbd;
}
#orders:hover{
	box-shadow: 15px 15px 10px #bdbdbd;
}
#orderTitle{
	position: absolute;
	background-color: #516382;
	width: 100%;
	height: 40%;
}
#orderTable{
	margin-top: 25%;
	position: absolute;
	width: 100%;
	height: 60%;
}
#customers{
  height: 90%;
  width: 40%;
  position: absolute;
  right: 5%;
  top:5%;
  bottom: 5%;

  box-shadow: 5px 5px 5px #bdbdbd;
}
#customers:hover{
	box-shadow: 15px 15px 10px #bdbdbd;
}
#customerTitle{
	position: absolute;
	background-color: #516382;
	width: 100%;
	height: 40%;
}
#customerTable{
	margin-top: 27%;
	position: absolute;
	width: 100%;
	height: 60%;
}
#item_div{
  height: 50%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  /*background-color: maroon;*/
  position: absolute;
  overflow: hidden;

}
#items{
  height: 90%;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 5%;
  bottom: 5%;
  background-color: white;
  box-shadow: 15px 15px 15px #888888;
}
.dashTables{
	font-size: 150%;
	border: 1px;

}
.title{
	position: absolute;
	margin-left: 3%;
	margin-top: 18%;
}
h4{
	padding:0;
	margin: 0;
}
